$red-color:  rgb(242, 66, 66);
$white-color: rgb(255, 250, 250);
$black-color: rgb(37, 37, 37);
$navbar-color: black;
$sky-color:  #b3ffff;


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: rgb(37, 37, 37);

  &__desc {
    padding: 0;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    


    &--name {
      color: $red-color;
    }
  
}



.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  
  }
 

  &__btn {
    margin-top: 1rem;
    padding: 1rem;
    background-color: transparent;
    color: $white-color;
    border: 2px solid $white-color;
    font-size: 1.2rem;

    &:hover {
      background-color: $sky-color; 
      color: $black-color;
    }
  }
}


.nav_bar {
  display: flex;
  
  width: auto;
  background-color: $black-color;
  height: 3rem;
  align-items: center;
  font-size: large;
  justify-content: center;
  border-bottom: 0.05rem solid $sky-color;


  &__ul {

    display: flex;




  }

  &__li {
    display: flex;






  }

  &__a {
    text-decoration: none;
    color: $white-color;
    padding-right: 4rem;

    &:hover {
      color: $red-color;
    }


  }


}

.about_sec {
  height: 100vh;



  &--hd {
    color: $black-color;
    font-size: 3rem;
    margin-top: 2rem;
    border-bottom: 3px solid $black-color;
    
    position: absolute;
    left: 45%;

  }
  
}