$red-color:  rgb(242, 66, 66);
$white-color: rgb(255, 250, 250);
$black-color: rgb(37, 37, 37);
$navbar-color: black;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 37, 37);
  color: white;

  &__desc {
    padding: 0;
    font-weight: 300;
    font-size: 3rem;
    


    &--name {
      color: $red-color;
    }
  }

  &__btn {
    margin-top: 1rem;
    padding: 1rem;
    background-color: transparent;
    color: $white-color;
    border: 2px solid $white-color;
    font-size: 1.5rem;
  }
}

.nav_bar {
  display: flex;
  background-color: $navbar-color;
  height: 3rem;
  align-items: center;
  font-size: large;
  justify-content: center;


  &__ul {

    display: flex;




  }

  &__li {
    display: flex;






  }

  &__a {
    text-decoration: none;
    color: $white-color;
    padding-right: 4rem;

    &:hover {
      color: $red-color;
    }


  }


}

.about_sec {
  height: 100vh;



  &--hd {
    color: $black-color;
    font-size: 4rem;
    margin-top: 2rem;

  }
  &--div{
    
   
    border-bottom: 3px solid $black-color;
   
  }
}